#Contenido{
    
    font-size: 15px;
    padding: 10px;
}

#Cabecera{  
    text-align: center;
}


.table{
    width: 100%;
    background-color: black;
    margin: 60px;
    border: 2px solid #000;
    
}

th,td{
    width: 25%;
   text-align: left;
   vertical-align: top;
   border: 2px solid #000;
   border-collapse: collapse;
   padding: 0.3em;
   caption-side: bottom;
   
}

*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titlef2{
    text-align: center;
}

.subtitle{
    text-align: center;
    margin: 100px;
    color: black;
}
body{
    margin: 55px;
}
#imagen{
    text-align: center;

}
#imagen2{
    float: left;
}


.img{
    border-style: solid;
    border-color: black;
    border-radius: 100px !important;
}